{
  "endOfLine": "auto",
  "quoteProps": "preserve",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@assets/(.*)$",
    "^@functions/(.*)$",
    "^@components/(.*)$",
    "^@constants/(.*)$",
    "^@customTypes/(.*)$",
    "^@pages/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
